<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.boardvue3.repository.board.BoardMapper">
    <select id="findAllCategories" resultType="CategoryDTO">
        SELECT category_id AS id, name AS name
        FROM category
    </select>

    <select id="findSmallBoardByCondition" resultType="BoardDTO">
        SELECT b.board_id AS boardId,
               c.name AS categoryName,
               b.title,
               b.writer,
               b.views,
               b.created_date AS generationTimestamp,
               b.modified_date AS modificationTimestamp,
               count(f.board_id) AS fileCounts
        FROM board b
            LEFT JOIN category c
                ON c.category_id = b.category_id
            LEFT JOIN file f
                ON f.board_id = b.board_id
        <include refid="condition"></include>
        GROUP BY b.board_id, c.category_id, b.title, b.writer, b.views, b.created_date, b.modified_date
        ORDER BY b.board_id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countBoardByCondition" resultType="Integer">
        SELECT count(board_id)
        FROM board b
        <include refid="condition"></include>
    </select>

    <sql id="condition">
        WHERE b.created_date &gt;= #{startDate} AND b.created_date &lt;= #{endDate}
        <if test="searchText != ''">
            AND (b.title LIKE CONCAT('%', #{searchText}, '%') OR
            b.writer LIKE CONCAT('%', #{searchText}, '%') OR
            b.content LIKE CONCAT('%', #{searchText}, '%'))
        </if>
        <if test="categoryId != ''">
            AND b.category_id = #{categoryId}
        </if>
    </sql>

    <select id="findBoardDetail" resultType="BoardDTO">
        SELECT c.name          AS categoryName,
               b.title,
               b.writer,
               b.content,
               b.views,
               b.created_date  AS generationTimestamp,
               b.modified_date AS modificationTimestamp
        FROM board b
            LEFT JOIN category c
                ON c.category_id = b.category_id
        WHERE board_id = #{boardId}
    </select>

    <update id="addOneToViews">
        UPDATE board
        SET views = views + 1
        WHERE board_id = #{boardId}
    </update>

    <insert id="save" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO board (category_id, writer, title, password, content, created_date, views)
        VALUES (#{categoryId}, #{writer}, #{title}, #{encryptedPassword}, #{content}, #{generationTimestamp}, 0)
    </insert>

    <delete id="deleteBoardByBoardId">
        DELETE
        FROM board
        WHERE board_id = #{boardId}
    </delete>

    <select id="findPasswordByBoardId" resultType="String">
        SELECT password
        FROM board
        WHERE board_id = #{boardId}
    </select>
</mapper>