<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.boardvue3.repository.comment.CommentMapper">

    <select id="findCommentDetailByBoardId" resultType="CommentDTO">
        SELECT comment_id AS commentId,
               writer,
               content,
               created_date AS generationTimestamp
        FROM comment
        WHERE board_id = #{boardId}
    </select>

    <insert id="save">
        INSERT INTO comment (writer, content, created_date, board_id)
        VALUES (#{writer}, #{content}, #{generationTimestamp}, #{boardId});
    </insert>
</mapper>