<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.boardvue3.repository.file.FileMapper">

    <select id="findFileNamesByBoardId" resultType="FileDTO">
        SELECT real_name AS realName, file_id AS fileId
        FROM file
        where board_id = #{boardId}
    </select>

    <select id="findFileNameByRealName" resultType="String">
        SELECT name AS fileName
        FROM file
        WHERE real_name = #{realName} and board_id = #{boardId}
    </select>

    <insert id="save">
        INSERT INTO file (name, real_name, board_id)
        VALUES (#{fileName}, #{realName}, #{boardId})
    </insert>

    <delete id="deleteFileByRealNameAndBoardId">
        DELETE
        FROM file
        WHERE board_id = #{boardId}
        AND real_name IN
        <foreach collection="fileNames" item="fileName" index="index" open="(" close=")" separator=",">
            #{fileName}
        </foreach>
    </delete>

    <delete id="deleteByBoardId">
        DELETE
        FROM file
        WHERE board_id = #{boardId}
    </delete>

    <select id="countFilesByBoardId" resultType="Integer">
        SELECT count(file_id)
        FROM file
        WHERE board_id = #{boardId}
    </select>
</mapper>